{include "inc_header.htm"}

{if action_result < 1}
	{if module_error == false}
		<form method="post" action="{target_url}">
			<input type="hidden" name="action_type" value="{action_type}" />
			<div class="panel panel-default">
				<div class="panel-heading text-center">
					<b>
						{if mode == 'edit'}
							{#Edit project#}
						{else}
							{#New project#}
						{endif}
					</b>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-4 col-sm-4 col-xs-12">
							{#Title#}:
						</div>
						<div class="col-lg-8 col-sm-8 col-xs-12">
							<input type="text" class="form-control" name="project_name" id="project_name" maxlength="255" value="{def_name}"> 
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4 col-sm-4 col-xs-12">
							{#Shortcut#}:
						</div>
						<div class="col-lg-8 col-sm-8 col-xs-12">
							<input type="text" class="form-control" name="project_name_short" id="project_name_short" maxlength="255" value="{def_name_short}"> 
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4 col-sm-4 col-xs-12">
							{#Start#}:
						</div>
						<div class="col-lg-8 col-sm-8 col-xs-12">
							{form.get_date_chooser('start_',def_start,false)}
						</div>
					</div>
					{if mode == 'edit'}
						<div class="row">
							<div class="col-lg-4 col-sm-4 col-xs-12">
								{#Versions#}:
							</div>
							<div class="col-lg-8 col-sm-8 col-xs-12">
								{versions}
								<input type="button" class="btn btn-default btn-xs" value="{#Add version#}" onclick="document.location.href = '{add_version_url}';" />
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4 col-sm-4 col-xs-12">
								{#Categories#}:
							</div>
							<div class="col-lg-8 col-sm-8 col-xs-12">
								{categories}
								<input type="button" value="{#Add category#}" class="btn btn-default btn-xs"
									   onclick="document.location.href = '{add_category_url}';" />
							</div>
						</div>
					{endif}
				</div>
				<div class="text-right panel-footer">
					<input type="button" class="btn btn-default btn-sm" value="{#Back#}" onclick="document.location.href='{url.simple_url('view_projects')}'" />
					<input type="submit" class="btn btn-default btn-sm" name="submit" value="{#Save#}" />
				</div>
			</div>
		</form>
	{endif}
{endif}

{include "inc_footer.htm"}