{if messages}
	{if errors}
		<div class="panel panel-error">
	{endif}

	{if warnings}
		<div class="panel panel-warning">
	{endif}

	{if notices}
		<div class="panel panel-info">	
	{endif}

	{if links}
		<div class="panel panel-default">
	{endif}
		<div class="panel-heading">
			<b>
				{title}
			</b>
		</div>
		<div class="panel-body">
			{if errors}
				{if errors.length == 1}
					<p>
						<span class="tl_msg_error">{#Error#}:</span>
						{loop errors as error}
							{error}
						{endloop}
					</p>
				{else}
					<span class="tl_msg_error">{#Errors#}:</span>
					<ul>
						{loop errors as error}
							<li>{error}</li>
						{endloop}
					</ul>
				{endif}
			{endif}

			{if warnings}
				{if warnings.length == 1}
					<p>
					<span class="tl_msg_warning">{#Warning#}:</span>
						{loop warnings as warning}
							{warning}
						{endloop}
					</p>
				{else}
					<span class="tl_msg_warning">{#Warnings#}:</span>
					<ul>
						{loop warnings as warning}
							<li>{warning}</li>
						{endloop}
					</ul>
				{endif}
			{endif}

			{if notices}
				{if notices.length == 1}
					<p>
						<span class="tl_msg_notice">{#Notice#}:</span>
						{loop notices as notice}
							{notice}
						{endloop}
					</p>
				{else}
					<span class="tl_msg_notice">{#Notices#}:</span>
					<ul>
						{loop notices as notice}
							<li>{notice}</li>
						{endloop}
					</ul>
				{endif}
			{endif}
			
			{if links}
				<p style="padding-top: 0.6em;">
					{loop links as name => lurl}
						{if links.current > 0} &middot; {endif}
						<a href="{lurl}">{name}</a>
					{endloop}
				</p>
			{endif}
		</div>
	</div>
{endif}