{include "inc_header.htm"}
{include "inc_delete_message.htm"}

{if action_result < 1}
	{if module_error == false}
		<script type="text/javascript" src="{js.get_file('js/table_row_sel.js','fws')}"></script>
		<script type="text/javascript">
			<!--
			var rowHL = new FWS_TableRowSelector('row_','check_');
			//-->
		</script>
		<script type="text/javascript">
			<!--
			function showDeleteMessage()
			{
				var ids = FWS_getDeleteIds('check_');
				if(ids == '')
					return;

				var url = 'index.php?action=ajax_delmsg&ids=' + ids + '&loc=view_projects';
				var onfinished = function(text) {
					FWS_replaceContent('delete_message_box',text);
					FWS_getElement('delete_message_box').style.display = 'block';
					window.scrollTo(0,0);
				};
				myAjax.sendGetRequest(url,onfinished);
			}
			//-->
		</script>

		<div class="panel panel-default container-fluid">
			<div class="panel-heading row no-margin-top">
				<b>
					{#Projects#}
				</b>
			</div>
			<div class="panel-body row">
				<table class="table table-striped">
					<thead>
						<tr>
							<th width="36%" class="text-left">{#Title#}</th>
							<th width="20%" class="text-center">{#Start#}</th>
							<th width="12%" class="text-center">{#Edit#}</th>
							<th width="12%" class="text-center">{#Delete#}</th>
						</tr>
					</thead>
					<tbody>
						{if num == 0}
						<tr>
							<td colspan="5" class="text.-enter">{#No projects found#}</td>
						</tr>
						{endif}
						{loop projects as index => project}
							<tr id="row_{index}">
								<td>{project:title} [{project:shortcut}]</td>
								<td class="text-center">{project:start}</td>
								<td class="text-center">
									<a class="hlCol" href="{url.simple_url('edit_project','&amp;$URL_MODE=edit&amp;$URL_ID='~project:id)}">{#Edit#}</a>
								</td>
								<td class="text-center" onclick="rowHL.toggleRowSelected({index});">
									<input id="check_{index}" type="checkbox" name="delete[]" value="{project:id}" />
								</td>
							</tr>
						{endloop}
					</tbody>
				</table>
			</div>
			<div class="panel-footer row">
				<div class="col-lg-12 col-sm-12 col-xs-12">
					<div class="col-lg-8 col-sm-8 col-xs-12">
						<div class="col-lg-offset-8 col-sm-offset-8 col-xs-offset-5">
							<input type="button" class="btn btn-default" value="{#Delete#}" onclick="showDeleteMessage();" />
						</div>
					</div>
					<div class="col-lg-4 col-sm-4 col-xs-12 text-right padding-top-10">
						<a href="{url.simple_url('edit_project','&amp;$URL_MODE=add')}" class="btn btn-default btn-xs">{#Add project#}</a>
						<a href="javascript:rowHL.toggleAllSelected();" class="btn btn-default btn-xs">{#Invert selection#}</a>
					</div>
				</div>
			</div>
		</div>
	{endif}
{endif}

{include "inc_footer.htm"}
