/* ------------ GENERAL ------------ */

.no-padding-left{
	padding-left: 0px !important;
}

.no-padding-right{
	padding-right: 0px !important;
}

.no-margin-top{
	margin-top: 0px !important;
}

.no-margin-left{
	margin-left: 0px;
}

.no-margin-right{
	margin-right: 0px;
}

.padding-top-10{
	padding-top: 10px;
}

.entry-info{
	border: 1px solid #ddd;
}

.options a{
	margin-left: 5px;
}

.option-col{
	display: table-cell;
	vertical-align: middle;
}

/* ------------ FORM ------------ */
.row{
	margin-top: 10px;
}

/* ------------ STATUS ------------ */

.tl_status_open {
	background-color: #F8B4B4 !important;
}

.tl_status_running {
	background-color: #fff366 !important;
}

.tl_status_not_tested {
	background-color: #a8d742 !important;
}

.tl_status_fixed {
	background-color: #cceedd !important;
}

.tl_status_not_reproducable {
	background-color: #CC99CC !important;
}

.tl_status_need_info {
	background-color: #FF6633 !important;
}

/* ------------ FOOTER ------------ */
.footer{
	position: relative;
	top: 15px;
	width: 100%;
	background-color: #f5f5f5;
	padding-bottom: 15px;
	padding-top: 15px;
}

.footer > .container{
	padding-left: 15px;
	padding-right: 15px;
}

/* ------------ MESSAGES ------------ */

span.tl_msg_error {
	color: #f00;
	font-weight: bold;
}
span.tl_msg_warning {
	color: #f90;
	font-weight: bold;
}
span.tl_msg_notice {
	color: #008000;
	font-weight: bold;
}
