/* ------------ GENERAL ------------ */

.no-padding-left{
	padding-left: 0px !important;
}

.no-padding-right{
	padding-right: 0px !important;
}

.no-margin-left{
	margin-left: 0px;
}

.no-margin-right{
	margin-right: 0px;
}

.padding-top-10{
	padding-top: 10px;
}


/* ------------ FOOTER ------------ */
.footer{
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-color: #f5f5f5;
	padding-bottom: 15px;
	padding-top: 15px;
}

.footer > .container{
	padding-left: 15px;
	padding-right: 15px;
}

/* ------------ MESSAGES ------------ */

span.tl_msg_error {
	color: #f00;
	font-weight: bold;
}
span.tl_msg_warning {
	color: #f90;
	font-weight: bold;
}
span.tl_msg_notice {
	color: #008000;
	font-weight: bold;
}
